  <table class="table table-bordered table-striped">
    <thead class="header">
      <th>Total Time ms</th>
      <th>Query score</th>
      <th>File Name</th>
      <th>Database</th>
      <th>Collection</th>
      <th>Query keys</th>
      <th>Sort keys</th>
      <th>Command</th>
      <th>Explain</th>
      <th></th>
    </thead>
      <tbody>
        <% profiles.sort_by(&:total_time).reverse.each do |profile| %>
          <tr>
            <td><%= profile.total_time %></td>
            <td><%= profile.score %></td>
            <td title="<%= profile.full_file_reference %>"><%= profile.file_reference %></td>
            <td><%= profile.command_database %></td>
            <td><%= profile.command_collection %></td>
            <td><%= profile.command_query_keys.join(',&nbsp;') %></td>
            <td><%= profile.command_order_by_keys.join(',&nbsp;') %></td>
            <td><pre style="width: 300px" title="Click to toggle"><code><%= profile.command %></code></pre></td>
            <td><pre style="width: 300px" title="Click to toggle"><code><%= profile.explain %></code></pre></td>
            <td>
              <a class="toggle_profile" href="#" style="text-decoration: none;">&#8597;</a>
              <form action="<%= root_path %>clear_profile/<%= profile.id %>" method="post" class="navbar-form navbar-right" onsubmit="return confirm('This action cannot be undone. Are you sure?');">
                <button class="btn btn-danger" title="Remove">Remove</button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
