<h2 class="page-header">Profile Groups</h2>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <th>Application</th>
      <th>File Name</th>
      <th>Method</th>
      <th>Total Queries</th>
      <th>Total Time</th>
      <th>Avg Total Time</th>
      <th>Group Id</th>
    </thead>
    <% @grouped_profiles.each_with_index do |(group_id, profiles), grouped_index| %>
      <tbody class="<%= (grouped_index % 2 == 0) ? 'tbody-gray' : '' %>">
      <% profiles.each_with_index do |profile, profiles_index| %>
        <tr>
          <td><%= profile['application_name'] %></td>
          <td><%= profile['file'].split('/').last %></td>
          <td><%= profile['method'] %></td>
          <td><%= profile['total'] %></td>
          <td><%= profile['total_time'] %></td>
          <td><%= profile['total_time'] / profile['total'] %></td>
          <% if profiles_index == 0 %>
            <td rowspan="<%= profiles.size %>"><a href="<%= root_path %>profiler/groups/<%= group_id %>"><%= group_id %></a></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>
