<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mongo Profiler</title>

    <!-- Bootstrap -->
    <link href="<%= root_path %>stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="<%= root_path %>stylesheets/highlight/default.css" rel="stylesheet">
    <link href="<%= root_path %>stylesheets/application.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="<%= root_path %>javascripts/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="<%= root_path %>javascripts/bootstrap.min.js"></script>
    <script src="<%= root_path %>javascripts/highlight.pack.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">Mongo Profiler</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="<%= root_path %>">Dashboard</a></li>
            <li><a href="<%= root_path %>settings">Settings</a></li>
          </ul>
          <% if MongoProfiler.enabled? %>
            <form action="<%= root_path %>profiler/disable" method="post" class="navbar-form navbar-right">
              <button class="btn btn-danger">Disable Profiler</button>
            </form>
        <% else %>
            <form action="<%= root_path %>profiler/enable" method="post" class="navbar-form navbar-right">
              <button class="btn btn-primary">Enable Profiler</button>
            </form>
        <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <% if @error_alert %>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= @error_alert %>
          </div>
        <% end %>

        <% if @info_alert %>
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= @info_alert %>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div><!-- /.container -->
    <script>
      $(function() {
        // Remove active for all items.
        $('ul.nav.navbar-nav li').removeClass('active');

        // highlight submenu item
        $('ul.nav.navbar-nav li a[href="' + window.location.pathname + '"]').parent().addClass('active');
      });
    </script>

    <script>
      $(function() {
          $('pre code').each(function(i, e) {
            try {
              var json = JSON.parse($(this).html());
              $(this).html(JSON.stringify(json, null, 4));
            } catch(e) {}
            hljs.highlightBlock(this);
          });
      });
  </script>
  </body>
</html>
