<% group = @group %>

<h2 class="page-header">Profile Groups  <%= group.name %></h2>

<style>
  tr, td, pre
  {
    height:60px;
    max-height:60px;
  }
</style>

<script>
$(function(){
    $('tr pre').click(function(){
       var height = '400px';

      if($(this).height() > 300){
        height = '60px';
      }

      $(this).animate({ 'height': height, 'max-height': height });
    })

    $('.header').click(function(){
      $(this).next('tbody').toggle()
    });
});
</script>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <th>Group name</th>
      <th>Total time</th>
      <th>AVG time</th>
      <th>Min time</th>
      <th>Max time</th>
      <th>Queries</th>
      <th>perfect</th>
      <th>had_to_order</th>
      <th>scanned_more_than_returned</th>
      <th>no_index</th>
      <th>no_docs_found</th>
    </thead>
      <tbody class="header">
        <tr bgcolor="#ccc">
          <td><%= group.name %></td>
          <td><%= group.total_time %></td>
          <td><%= group.avg_time %></td>
          <td><%= group.min_time %></td>
          <td><%= group.max_time %></td>
          <td><%= group.profiles.count %></td>
          <td><%= group.count_by_score :perfect %></td>
          <td><%= group.count_by_score :had_to_order %></td>
          <td><%= group.count_by_score :scanned_more_than_returned %></td>
          <td><%= group.count_by_score :no_index %></td>
          <td><%= group.count_by_score :no_docs_found %></td>
        </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <thead class="header">
      <th>Total Time</th>
      <th>Query score</th>
      <th>File Name</th>
      <th>Database</th>
      <th>Collection</th>
      <th>Command</th>
      <th>Explain</th>
    </thead>
      <tbody>
        <% group.profiles.sort_by(&:total_time).reverse.each do |profile| %>
          <tr>
            <td><%= profile['total_time'] %></td>
            <td><%= profile.score %></td>
            <td><%= "#{profile['file'].split('/').last}:#{profile['line']}" %></td>
            <td><%= profile['command_database'] %></td>
            <td><%= profile['command_collection'] %></td>
            <td><pre style="width: 300px"><code><%= profile['command'] %></code></pre></td>
            <td><pre style="width: 300px"><code><%= profile['explain'] %></code></pre></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
