<h2 class="page-header">Profile Id: <%= @profile_id %></h2>

<div class="row">
  <table class="table table-bordered">
    <thead>
      <th>File Name</th>
      <th>Method</th>
      <th>Total Time</th>
      <th>Instrument Payload</th>
      <th>Group Id</th>
    </thead>
    <tbody>
        <tr>
          <td><%= @profile['file'].split('/').last %>:<%= @profile['line'] %></td>
          <td><%= @profile['method'] %></td>
          <td><%= @profile['total_time'] %></td>
          <td><pre><code><%= @profile['instrument_payload'] %></code></pre></td>
          <td><a href="<%= root_path %>profiler/groups/<%= @profile['group_id'] %>"><%= @profile['group_id'] %></a></td>
        </tr>
      </tbody>
  </table>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="..." src="<%= graphite_graph_url(@profile, '-1h', '1min') %>">
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="..." src="<%= graphite_graph_url(@profile, '-1day', '1h') %>">
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="..." src="<%= graphite_graph_url(@profile, '-1month', '1d') %>">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h4>Selector</h4>
    <pre><code><%= @selector.to_json %></code></pre>
  </div>

  <div class="col-md-5">
    <h4>Explain</h4>
    <pre><code><%= @explain.to_json %></code></pre>
  </div>
</div>

<div class="row">
  <h4>Backtrace</h4>
  <pre><code><%= @profile['backtrace'] %></code></pre>
</div>
